html{
    background-color: #e6ecf0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #2b2171;
    line-height: 1.3em;
}

#lp_ms_body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*header styling*/
#lp_ms_header ul li {
    display: inline;
}
#lp_ms_header_1_contact {
    margin-right: 50px;
}
#lp_ms_header_1 {
    margin: auto;
    padding: 10px 0 6px 0;
}
#lp_ms_header_2, #lp_ms_header_3 {
    margin: auto;
}
#lp_ms_header_1_col_left {
    display: inline-flex;
    padding-left: 10px;
    width: 100%;
}
#lp_ms_header_1_col_right {
    display: inline-flex;
    padding-left: 10px;
    width: 100%;
    align-self: center;
}
#lp_ms_header_1_col_right ul {
    margin: 0 0 0 auto;
}
#lp_ms_header_1_col_right li {
    padding-left: 16px;
}
#lp_ms_header_1_lp_logo {
    background-image: url("");
    background-size: 240px 56px ;
    height: 56px;
    width: 240px;
    cursor: pointer;
}
.lp_ms_header_2, .lp_ms_navbar {
     background: #240d46; /* Old browsers */
     background: -moz-linear-gradient(left, #240d46 0%, #2b2171 100%);
     background: -webkit-linear-gradient(left, #240d46 0%, #2b2171 100%);
     background: linear-gradient(to right, #240d46 0%, #2b2171 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#240d46', endColorstr='#2b2171', GradientType=1);
 }
#lp_ms_header_2_image { /*banner*/
    background-color: #2ea8ce;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-size: cover;
}
#lp_ms_header_2_logo {
    margin-left: 15px;
    height: 50px;
}
#lp_ms_header a {
    text-decoration: none;
    color: #352071;
}
#lp_ms_header a:active {
    text-decoration: none;
    font-weight: bold;
}

.lang_selected{ /*styling of selected language in language picker, if any*/
    text-decoration: underline;
    font-weight: 600;
}
/*may be useful for journal websites*/
/*#new_submission_btn {*/
/*    text-align: right;*/
/*    display: inline-flex;*/
/*    float: right;*/
/*    clear-after: both;*/
/*    padding: 5px 10px;*/
/*}*/
/*#new_submission_btn a{*/
/*    color: #352071;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    font-weight: 600;*/
/*}*/
/*#new_submission_btn a:hover{*/
/*    color: #0093be;*/
/*}*/
/*.submission_btn {*/
/*    border: 1px solid #0093be;*/
/*    padding: 10px;*/
/*    margin: 10px 0;*/
/*}*/
/*override default bootstrap*/
.navbar-brand {
    padding-left: 10px;
}
.navbar {
    padding: 0 !important;
    color: inherit !important;
}
.navbar-toggler-icon {
    color: #2b2171;
    font-size: 26px;
    border-color: transparent !important;
    display: unset !important;
}
button:focus { /*remove border from toggler button in mobile navbar*/
    outline: none!important;
}
/*styling of navbar in desktop*/
#navbarNav {
    padding-left: 10px;
    padding-right: 10px;
}
.navigation_primary {
    text-align: left;
    padding: 5px 10px;
}
.navigation_primary > li > a {
    margin: 0;
    padding: 10px 0 8px;
    border-bottom: 2px solid transparent;
    color: #2b2171;
}
.navigation_primary > li > a:hover, .navigation_primary > li > a:focus {
    color: #00ace0 !important;
    outline: 0;
    border-color: #fff;
}
.navigation_primary > li:last-child a {
    margin-right: 0;
}
.navigation_primary > li:hover ul {
    left: 14px;
}
.navigation_primary [aria-haspopup]:hover {
    border-color: transparent;
}
.navigation_primary ul {
    text-align: left;
}
.navigation_primary ul a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2b2171;
}
.dropdown-menu {
    display: none;
    border: none!important;
}
.navigation_primary .dropdown-menu a:focus, .navigation_primary .dropdown-menu a:hover {
    border-color: #0093be;
    color: #0093be;
}
.nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav_list li {
    position: relative;
    display: block;
}
.nav_list ul {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1000;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
}
.nav_list a {
    display: block;
    padding: 12px 10px 12px 12px;
    line-height: 20px;
    border-left: 4px solid transparent;
    text-decoration: none;
}
.nav_list a:focus {
    outline: none;
}
.nav_list a:hover, .nav_list a:focus, .nav_list [aria-expanded="true"] > a {
    border-color: #fff;
}
.nav_list a:hover > ul, .nav_list a:focus > ul, .nav_list [aria-expanded="true"] > a > ul {
    left: 100%;
}
.nav_list [aria-expanded="true"] > ul {
    left: 100%;
}
.navbar {
    border: none;
    margin-bottom: inherit;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:active {
    color: rgb(43, 33, 113);
}
.navbar-default .navbar-nav > li > a:hover {
    color: #0093be;
}
/*responsive behaviour tags*/
.desktop { /*show items only in mobile (small lp logo, Contact and language picker in navbar)*/
    display: none;
}
.display_none{ /*hide content*/
    display: none;
}
.display_true{ /*show content*/
    display: table-cell;
    text-align: right;
}
#container-reverse { /*invert order of navbar and banner from mobile to desktop*/
    display: flex;
    flex-direction: column;
}
/**************** START CONTENT ****************/

/*#mainWrapper {*/
/*    background-color: #fff;*/
/*}*/

.shadow-box {
    min-height: 50vH;
    -webkit-box-shadow: 0 0 15px -4px rgba(43, 33, 113, 0.39);
    -moz-box-shadow: 0 0 15px -4px rgba(43, 33, 113, 0.39);
    box-shadow: 0 0 15px -4px rgba(43, 33, 113, 0.39);
    padding-bottom: 60px;
}

.maintenance_centered {
    align-content: center;
    padding: 10vh 0 10vh 5vh;
}

/**************** END CONTENT ****************/

/* START MEDIA */
.lp_ms_header_row {
    width: 100%;
}
/* Content */
.content-container { /* overwrite default content-container for small screens*/
    background-color: white;
    width: 100%;
    margin: auto;
}
/*screen tablet*/
@media ( min-width : 750px) {
    #lp_ms_header_2_image {/*banner*/
        height: 130px;
        line-height: 130px;
    }
    #lp_ms_header_2_logo {
        height: 60px;
        margin-left: 50px;
    }
    #lp_ms_header_1_col_right {
        padding-right: 10px;
    }
    .navigation_primary > li:first-child a {
        margin-left: 0;
    }
    /* Content */
    .content-container {
        background-color: white;
        width: 100%;
        margin: auto;
    }
}
/*screen desktop*/
@media ( min-width : 970px) {
    .lp_ms_header_row {
        width: 90%;
    }
    #lp_ms_header_1_col_right {
        padding-right: 0;
    }
    .navigation_primary {
        width: 90%;
    }
    .navigation_primary > li > a {
        margin: 0 1em;
    }
    .desktop {
        display: flex;
    }
    .mobile {
        display: none!important;
    }
    #container-reverse{
        flex-direction: column-reverse;
    }
    #navbarNav {
        padding-left: 0;
        padding-right: 0;
    }
    .navigation_primary {
        max-width: 80%;
        text-align: left;
    }
    .nav_list ul {
        position: absolute;
        top: 100%;
        left: -9999px;
        z-index: 1000;
        width: 15em;
        margin: 0;
        padding: 0;
        background: #fff !important;
        border-radius: 3px;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
    .nav_list a {
        display: block;
        padding: 12px 10px 12px 12px;
        line-height: 20px;
        border-left: 4px solid transparent;
        color: rgba(255,255,255,0.8);
        text-decoration: none;
    }
    .nav_list a:focus {
        outline: none;
    }
    .nav_list a:hover, .nav_list a:focus, .nav_list [aria-expanded="true"] > a {
        border-color: #fff;
    }

    .nav_list a:hover > ul, .nav_list a:focus > ul, .nav_list [aria-expanded="true"] > a > ul {
        left: 100%;
    }
    .nav_list [aria-expanded="true"] > ul {
        left: 100%;
    }

    [data-toggle="dropdown"]:hover + .dropdown-menu, .dropdown-menu:hover {
        display: block;
    }
    /* Content */
    .content-container {
        background-color: white;
        width: 90%;
        margin: auto;
    }
}
/*screen lg desktop*/
@media ( min-width : 1170px) {
    .lp_ms_header_row {
        width: 80%;
    }
    #lp_ms_header_1_col_left {
        padding-left: 0;
    }
    #lp_ms_header_1_col_right {
        padding-right: 20px;
    }
    /* Content */
    .content-container {
        background-color: white;
        width: 80%;
        margin: auto;
    }
}
/* END MEDIA */