a.header-link {
    color: currentColor;
}

a.header-link:hover, a.header-link:focus {
    color: #00baf1;
}
/*overwrite bootstrap style*/
.bg-light {
    background-color: white!important;
}
.col-media-adjust {
    padding-left: 0;
    padding-right: 0;
}

.white-text {
    color: white;

}
.white-text a{
    color: white;
    font-size: 0.8em;
}

.grey-box {
    padding: 1em 1.5em;
    background-color: #edf2f7;
}

.grey2-box {
    padding: 1em 1.5em;
    background-color: #e2e8f0;
}

.search-form {
    width: 75%;
    border: 2px solid #2b2171;
    padding: 0.5em;
    text-overflow: ellipsis;
}

.search-submit {
    color: white;
    border: 2px solid #2b2171;
    background-color: #2b2171;
    padding: 0.5em 1em;
}

.card-custom {
    border-radius: 0px;
    margin: 0px 10px!important;
}

.card-body-custom {
    border-radius: 0px;
}

.card-img-custom {
    border-radius: 0px;
    border-bottom: 1px solid rgba(0,0,0,.125) ;
}

.card-footer-custom {
    background-color: white;
    border-top: 0px;
}
.card-btn-custom {
    border: 2px solid #44337a;
    color: rgb(68,51,122);
    width: 100%;
    padding: 0.25em 0.5em;
    background-color: white;
}

.card-btn-custom:hover {
    background-color: #44337a;
    color: white;
    transition-duration: 500ms;
}

.author {
    color: #777;
    margin-top: -0.5em;
}
.label {
    color: #2b2171;
    font-weight: bold;
}

.page-no {
    text-align: end;
    margin-top: 10px;
    padding-right: 15px;
}

.links {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.spacing {
    padding-top: 0.3em;
}

.article-entry {
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.btn-abstract {

}
.btn-abstract > a {
    color: #2b2171;
    font-weight: 500;
}

.abstract-content {
    text-align: justify;
    padding: 10px;
    border: 1px solid #bfbfbf;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.divider {
    border-top: 1px solid #bfbfbf;
    width: 100%;
}
[data-toggle="collapse"] .fa:before {
    content: "\f078";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f054";
}

.toc {
    padding-top: 2em;
    /*max-width: min-content;*/

}

#content h3 {
    margin-top: 2em;
}
@media (min-width: 1170px) {
    .col-media-adjust {
        padding-left: unset;
        padding-right: 0;
    }
}
@media (min-width: 992px) {
    .doi {
        text-align: end;
    }
}

/*back to top button*/
  #BackToTopButton {
      display: inline-block;
      background-color: #352071;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 4px;
      position: fixed;
      bottom: 30px;
      right: 30px;
      transition: background-color .3s,
      opacity .5s, visibility .5s;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
      text-decoration: none;
  }
#BackToTopButton:after {
    content: "\f077";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#BackToTopButton:hover {
    cursor: pointer;
    background-color: #1A1146;
}
#BackToTopButton:active {
    background-color: #1A1146;
}
#BackToTopButton.show {
    opacity: 1;
    visibility: visible;
}
@media (min-width: 500px) {
    #BackToTopButton {
        margin: 30px;
    }
}